<!doctype html>    @* Home Calendar page *@
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calendar</title>
   <link 
    rel="stylesheet" 
    href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <link rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=edu+au+vic+wa+nt+hand:wght@400..700&display=swap" rel="stylesheet"/>

  <style>
    
        .hasEventClass {
            background-color: green;
            color: white;
            border-radius: 50%; 
        }



  </style>
   </head>
   <body>
      <div class="container">
         <div class="calendar">
           <div class="month">
             <i class="fas fa-angle-left 
             prev"></i>
             <div class="date">
               <h1></h1>
               <p></p>
              </div>
              <i class="fas fa-angle-right next"></i>
           </div>
           <div class="weekdays">
           <div>sun</div>
           <div>mon</div>
           <div>tue</div>
           <div>wed</div>
           <div>thu</div>
           <div>fri</div>
           <div>sat</div>
         </div>
         <div class="days"> @* Class for grey hover affect *@
            
         </div>
      </div>
    </div>
</body>
</html> 





