<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calendar</title>
   <link 
    rel="stylesheet" 
    href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <link rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=edu+au+vic+wa+nt+hand:wght@400..700&display=swap" rel="stylesheet"/>

    <style>
      .delete-event {
          color: white;
          background-color: red;
          border: none;
          padding: 5px 10px;
          border-radius: 3px;
          cursor: pointer;
      }
  
      .delete-event:hover {
          background-color: darkred;
      }
  </style>
   </head>
   <body>
      <div class="container">
         <div class="calendar">
           <div class="month">
             <i class="fas fa-angle-left 
             prev"></i>
             <div class="date">
               <h1></h1>
               <p></p>
              </div>
              <i class="fas fa-angle-right next"></i>
           </div>
           <div class="weekdays">
           <div>sun</div>
           <div>mon</div>
           <div>tue</div>
           <div>wed</div>
           <div>thu</div>
           <div>fri</div>
           <div>sat</div>
         </div>
         <div class="days">
            
         </div>
      </div>
    </div>
</body>
</html> 





